@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#header h1 {
    margin: 0px;
}

header nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.navbar {
    display: flex;
    margin: 0;
    justify-content: center;
    transition: all .5s ease;
    background-color: #000;
}

.menu a:hover {
    color: #ff91f6;
}


.logo img {
    height: 90%;
    width: 100%;
}

nav .menu {
    display: flex;
}

nav .menu li {
    list-style: none;
    margin: 0 10px;
}

nav .menu a {
    color: #57abff;
    font-size: 23px;
    font-weight: 500;
    text-decoration: none;
}

nav .menu {
    color: #000;
}

.text-content {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: auto;
}


body {
    background-color: rgb(100, 192, 245);
}

.reservation {
    font-size: 20px;
    background-color: rgb(212, 233, 252);
    padding: 2%;
}

header.title {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-shadow: #000 0 0 .2em;
}